<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hema</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/guestbook.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
        <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">HemaA03</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="A03Paladugu.html">Home</a></li>
                            <li><a href="area.html">Area</a></li>
                            <li><a href="Contact.html">Contact</a></li>                            
                            <li><a href="guestbook">GUESTBOOK</a></li>
                                </ul>
                    </div>
                </nav>
                </header>
        
    <h1>
        Hema's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
</body>