*{
    background-image:url("guestbook.jpg");
    background-position: center ;
    background-attachment: fixed;	
    background-size: cover;

}
h1{
    color:red;
}
h2{
    color:blue;
}
header {
	font-size: 16pt;
	text-align: center;
        color: #D3FAF8;
}  
h3 {
	color: blue;
}